<h1>restaurant name</h1>

<%= form_for @reservation do |f| %>

  <div class="field">
    <%= f.label :date %><br/>
    <%= f.datetime_select :date, discard_minute: true %>
  </div>

	<p><div class="field">
    <%= f.label :party_size %><br/>
    <%= f.text_field :party_size %>
  </div></p>

  <div class="actions">
	  <%= f.submit %></p>
  </div>

<% end %>



<!-- Make a Reservation

First Name
Auto fill first name
Last Name
Auto fill last name

Date
Month
Day


Time of reservation (on the hour)

Number of people

submit button
 -->