<h1>Make a Reservation</h1>

<!-- if user is logged in collect:
user_id
resturant_id -->
< form_for @reservation %>
<p>from the user:</p>

  <div class="field">
    <%= f.label :firstname %><br/>
    <%= f.text_field :firstname %>
  </div>

    <div class="field">
    <%= f.label :lastname %><br/>
    <%= f.text_field :lastname %>
  </div>


date 
time
number of people
</div></p>
 <div class="actions">
 <%= f.submit %></p>
 </div>

  <% end %>



