<h1>Thank you for your reservation!</h1>


 <p> Restaurant: <%=  @reservation.restaurant.name %><br>
    Reservation Number: <%= @reservation.user_id %><br> 
    Party Size: <%= @reservation.party_size %><br> 
    Reservation Date and Time: <%= @reservation.reservation_time %><br> 
                                 </p>


<%= link_to "Check out more restaurants?", restaurants_url  %> 
