<%= form_for @restaurant do |f| %>
<% if @restaurant.errors.any? %>
<div class="error_messages">
  <h2>Form is invalid</h2>
  <ul>
    <% for message in @restaurant.errors.full_messages %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :address %><br/>
  <%= f.text_field :address %>
</div>


<div class="field">
  <%= f.label :open_time %><br/>
  <%= f.text_field :open_time %>
</div>

<div class="field">
  <%= f.label :close_time %><br/>
  <%= f.text_field :close_time %>
</div>

<div class="field">
  <%= f.label :capacity %><br/>
  <%= f.text_field :capacity %>
</div><p>

<div class="field">
  <%= f.label :phone_number %><br/>
  <%= f.text_field :phone_number %>
</div>

<div class="actions">
<%= f.submit class: "btn btn-submit" %>  
</div></p>


<% end %>

