<h1>Add a New Restaurant</h1>

<%= form_for @restaurant do |f| %>
  <% if @restaurant.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @restaurant.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :open_time %><br/>
    <%= f.text_field :open_time %>
  </div>
  <div class="field">
    <%= f.label :close_time %><br/>
    <%= f.text_field :close_time %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br/>
    <%= f.text_field :capacity %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>

