<%= form_for @restaurant do |f| %>
  <% if @restaurant.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @restaurant.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :capacity %><br/>
    <%= f.text_field :capacity %>
  </div><p>
  <div class="actions"><%= f.submit %></div></p>
  {
      margin-top: 5px;
      margin-left: 4px;
      }

<% end %>

