<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title><%= @restaurant.name %></title>
</head>
<body>
<table><tr><td>
<p><h1><%= @restaurant.name %></h1><br>
       <%= link_to_if current_user==@restaurant.user, "Edit", edit_restaurant_path(@restaurant) %>
       <%= link_to_if current_user==@restaurant.user, "Delete", restaurant_path(@restaurant) ,method: :delete %>

Capacity <%= @restaurant.capacity%><br>
Opening Hours 6pm - 11pm

<% if current_user %>
  <h3><%= link_to "Make a Reservation", new_reservation_path %></h3>
	
	<% else %>
  	<p>Please sign up or log in to make a reservation.</p> 


</td></tr></table>   
</body>
</html>

<% end %>










