<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @restaurant.name %></title>
</head>
<body>
<table><tr><td>
<p><h1><%= @restaurant.name %></h1><br>
Capacity <%= @restaurant.capacity%><br>
Opening Hours 6pm - 11pm

<!-- #Hours <%= @restaurant.open_time %> - <%= @restaurant.close_time %><br> -->
<p><h3>Make a Reservation</h3></p>  
</td></tr></table>   
</body>
</html>





