			<% if current_user == @restaurant.user %>
			<p>Make a change to your restaurant listing
				<%= link_to "| Edit ", edit_restaurant_path(@restaurant) %> 
				<%= link_to "| Delete |", restaurant_path(@restaurant), method: :delete %>			<% end %>

				<table>
					<tr>
						<td>
							<h1><%= @restaurant.name %></h1>
						
							Capacity: <%= @restaurant.capacity%><br>
							Opening Time: <%= @restaurant.open_time%><br>
							Close Time: <%= @restaurant.close_time%><br>
							Phone_Number: <%= @restaurant.phone_number%><br>
							Address: <%= @restaurant.address%><br>
							Description: <%= @restaurant.description%><br>


							<% if current_user %>
							<h3>Make a Reservation</h3>
							
							<%= form_for ([@restaurant, @reservation]) do |f| %>
							<% if @reservation.errors.any? %>
							<div id="error_explanation">
								<h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>


								<div class="field">
									<%= f.label :reservation_time %><br/>
									<%= f.text_field :reservation_time %>
								</div>

								<div class="field">
									<%= f.label :party_size %><br/>
									<%= f.text_field :party_size %>
								</div>

								<div class="actions">
									<%= f.submit class: "btn btn-submit"%>      
								</div>
							</p>
							<% end %>
							<% else %>
							<p>Please sign up or log in to make a reservation.</p> 
							<% end %>
						</td>
					</tr>
				</table>	

